<%= form_for([project, task]) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field"><%= puts "\n\n->#{@responsibles.inspect}\n\n" %>
    <%= f.label :responsible %><br />
    <%= f.collection_select :responsible_id, @responsibles, :id, :name, {:prompt => true} %>
  </div>
  <div class="field checkbox">
    <%= f.label :watchers %>
    <ul>
      <% User.find(:all).each do |w| %>
        <li><%= check_box_tag 'task[watcher_ids][]', w.id, task.watchers.include?(w) %><%= w.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.collection_select :estimate_id, @estimate, :id, :name, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select :status_id, @status, :id, :name, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.collection_select :type_id, @type, :id, :name, {:prompt => true} %>
  </div>
  <h2><%= t(:task_files) %></h2>
  <div class="field">
    <% 
      fields = f.fields_for(:task_files, TaskFile.new, :child_index => "new_task_files") do |builder|
        render("tasks/task_file_fields", :f => builder, :child_index => "new_task_files")
      end
    %> 
    <%= link_to_function(t(:add_file), "add_fields('task_files', '#{escape_javascript(fields)}')", :class => "button small add-image") %>
  </div>
  <div id="task_files">
    <% new_id = Time.now.to_i %>
    <%= f.fields_for :task_files do |task_file| %>
      <%= render :partial => 'task_file_fields', :locals => { :f => task_file, :child_index => new_id} %>
    <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br/>
<% end %>
