<%= simple_form_for([@project, @task], :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <fieldset class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :responsible, :collection => @responsibles %>
    <%= f.association :watchers, :as => :check_boxes %>
    <%= f.association :estimate, :collection => @estimate %>
    <%= f.association :status, :collection => @status %>
    <%= f.association :type, :collection => @type %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
