<%= form_for(@task.name.nil? ? [:project, @task] : @task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :estimate %><br />
    <%= f.collection_select :estimate_id, @estimate, :id, :name, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.collection_select :status_id, @status, :id, :name, {:prompt => true} %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.collection_select :type_id, @type, :id, :name, {:prompt => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
