<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Estimate</th>
    <th>Status</th>
    <th>Type</th>
    <th>User</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.estimate %></td>
    <td><%= task.status %></td>
    <td><%= task.type %></td>
    <td><%= task.user.name %></td>
    <td><%= task.project.name %></td>
    <td><%= link_to 'Show', project_task_path(task.project_id, task) %></td>
    <td><%= link_to 'Edit', edit_project_task_path(task.project_id, task) %></td>
    <td><%= link_to 'Destroy', project_task_path(task.project_id, task), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_project_task_path %>
