<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= link_to @task.project.name, project_path(@project) %>
</p>

<p>
  <b>Task:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Type:</b>
  <%= @task.type %>
</p>

<%= content_tag :h2, "Comments:" if @task.comments.any? %>

<ul>
  <% @comments.each do |c| %>
  <li><%= c.description %></li>
  <% end %>
</ul>

<%= form_for [:task, @new_comment] do |c| %>
<div class="field">
  <%= c.label :description %><br />
  <%= c.text_area :description %>
</div>
<div class="actions">
  <%= c.submit %>
</div>
<% end %>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project, @task) %>
