<article>
  <p><b>Project:</b> <%= link_to @task.project.name, project_path(@task.project) %></p>
  <section id="task-details">
    <h2>#<%= @task.id %> <%= @task.type.name %> - <%= @task.name %></h2>

    <p><b>Owner:</b> <%= show_user_avatar(@task.user) %> <%= @task.user.name %></p>

    <p><b>Responsible:</b> <%= show_user_avatar(@task.responsible) %> <%= @task.show_responsible_name %></p>

    <p><b>Estimate:</b> <%= @task.show_estimate_name %></p>

    <p><b>Status:</b> <%= @task.status.name %></p>

    <p><b>Type:</b> <%= @task.type.name %></p>

    <p><b>Description:</b> <%= raw @task.description.html_safe %></p>

    <%= link_to 'Edit', edit_task_path(@task) %>
  </section>

  <aside>
    <% if @task.comments.any? %>
    <h2>Comments</h2>

    <ul class="thread">
      <% @comments.each do |c| %>
      <li>
        <%= link_to 'Destroy', comment_path(c), confirm: 'Are you sure?', method: :delete, :class => "destroy" if c.user == current_user%>
        <em><%= c.user.email %> said</em>
        <%= raw c.description.html_safe %>
      </li>
      <% end %>
    </ul>
    <% else %>
    <h2>No comments yet!</h2>
    <h3>User the form below to start posting...</h3>
    <% end %>

    <%= form_for [@task, @comment] do |c| %>
      <%= c.label :description %><br />
      <%= c.text_area :description %>
      <%= c.submit %>
    <% end %>
  </aside>
</article>
