<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= link_to @task.project.name, project_path %>
</p>

<p>
  <b>Task:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Type:</b>
  <%= @task.type %>
</p>

<h2>Comments:</h2>

<ul>
  <% @task.comments.each do |c| %>
  <li><%= c.description %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project, @task) %>
<%= link_to 'New Comment', new_project_task_comment_path(@project, @task) %>
