<p id="notice"><%= notice %></p>

<p>
  <b>Story:</b>
  <%= link_to @task.story.name, story_path %>
</p>

<p>
  <b>Task:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @task.user.name %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Type:</b>
  <%= @task.type %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<%= link_to 'New Comment', new_comment_path %>
