<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <fieldset class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :time_track, :hint => "(Check this to enable time tracking on each task)" %>
    <% unless @users.blank? %>
      <%= f.association :users, :as => :check_boxes, :collection => @users, :label => "Members"  %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
