<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <fieldset class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.check_box :public %> <%= f.label :public %><br />
    <%- unless @users.blank? -%>
    	<%= f.association :users, :as => :check_boxes, :collection => @users  %>
    <%- end -%>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
