<% content_for :title, "My Projects" %>
<h3>My Projects - <%= link_to '(+) Create Project', new_projects_path %></h3>

<% unless @projects.blank? %>
  <ul id="project-list">
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.name, projects_path(project.id) %>
        <%= content_tag :p, project.description unless project.description.blank? %>
        <ul>
          <% project.users.each do |project_user| %>
            <li><%= show_user_avatar(project_user) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any projects. <%= link_to 'Create', new_projects_path %> your first project!</p>
<% end %>
