<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<h2>Tasks:</h2>
<ul>
  <% @tasks.each do |t| %>
  <li><%= link_to t.name, project_task_path(@project, t)  %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
 |
<%= link_to 'New Task', new_project_task_path(@project) %>
