<% content_for :title, @project.name %>
<article id="project-show">
  <header>
    <h1><%= @project.name %> <span>(<%= link_to 'edit', edit_projects_path(@project) %>)</span></h1>

    <div class="indent">
      <%= link_to "#", :id => "link_new_task" do %>
        New task
        <%= content_tag :span, "(press n)" %>
      <% end %>
    </div>
    <%= render :partial => 'tasks/form', :locals => {:project => @project, :task => @new_task} %>
  </header>
  <section id="scheduled" class="status-pane">
    <h2>Scheduled:</h2>
    <ul>
      <% @task_scheduled.each do |task| %>
      <%= render :partial => "tasks/task_item", :locals => { :task => task } %>
      <% end %>
    </ul>
  </section>
  <section id="current" class="status-pane current">
    <h2>Current:</h2>
    <ul>
      <% @task_current.each do |task| %>
      <%= render :partial => "tasks/task_item", :locals => { :task => task } %>
      <% end %>
    </ul>
  </section>
  <section id="done" class="status-pane">
    <h2>Done:</h2>
    <ul>
      <% @task_done.each do |task| %>
      <%= render :partial => "tasks/task_item", :locals => { :task => task } %>
      <% end %>
    </ul>
  </section>
  <section id="todo" class="status-pane todo">
    <h2>TODO:</h2>
    <ul>
      <% @task_todo.each do |task| %>
      <%= render :partial => "tasks/task_item", :locals => { :task => task } %>
      <% end %>
    </ul>
  </section>
</article>
