<h1><%= @project.name %></h1>

<p><b>Description:</b> <%= @project.description %></p>

<%= link_to 'Edit', edit_project_path(@project) %>

<h2>Tasks:</h2>

<ul>
  <% @tasks.each do |t| %>
  <li><%= link_to t.name, task_path(t), :class => "#{t.status.name.parameterize rescue 'no-status'}"  %></li>
  <% end %>
</ul>

<%= link_to 'New Task', new_project_task_path(@project) %>
