<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<h2>Tasks:</h2>
<ul>
  <% @project.tasks.each do |s| %>
  <li><%= link_to @project.tasks.name, task_path  %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
 |
<%= link_to 'New Task', new_task_path %>
