<h1>Listing stories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Task</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.name %></td>
    <td><%= story.description %></td>
    <td><%= story.tasks %></td>
    <td><%= story.project.name %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %> |
<%= link_to 'New Task', new_task_path %>
