<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @story.project.name %>
</p>

<p>
  <b>Story:</b>
  <%= @story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<h2>Tasks:</h2>
<ul>
  <% @story.tasks.each do |t| %>
    <li><%= t.name %></li>
  <% end %>
</ul>

<%= link_to 'Back', stories_path %> |
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Delete', @story, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'New Task', new_task_path %>
<td><%= link_to 'New Comment', new_comment_path %></td>
