<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Task:</b>
  <%= @story.task %>
</p>

<p>
  <b>Project:</b>
  <%= @story.project %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %> |
<%= link_to 'New Task', new_task_path %>
