<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, :tabindex => "1" %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :tabindex => "2" %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me, :tabindex => "3" %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in", :tabindex => "4" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
