<!DOCTYPE html>
<html>
<head>
  <title>Startrack</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <h1><%= link_to "Startrack", root_path %></h1>
      <% if user_signed_in? %>
      <div class="login-info">
        <%= image_tag avatar_url(current_user), :class => "avatar icon" %> Logado como <%= current_user.email %>. Não é você?
        <%= link_to 'Sair', destroy_user_session_path %>
      </div>
      <% else %>
      <div class="login-info">
        <%= link_to 'Cadastrar', new_user_registration_path %> ou <%= link_to 'Logar', new_user_session_path %>
      </div>
      <% end %>
    </header>

    <hr />

    <%= flash_messages %>

    <%= yield %>

    <footer>
      Startrack is an agile based tracker developed by <%= link_to "RubyOnRio", "http://rubyonrio.org", :target => "_new" %> on version <%= `git describe --tags`.chomp %>
    </footer>
  </div>
</body>
</html>
